<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MUOSS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docreq">
                <span class="oi oi-document" aria-hidden="true"></span> Document Request
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="namereq">
                <span class="oi oi-task" aria-hidden="true"></span> Name Change Request
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cardreq">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Student Card Request
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="packaging">
                <span class="oi oi-map" aria-hidden="true"></span> Packaging
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
