#searchable-select {
    position: relative;
    z-index: 1;
    padding-right: 32px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    display: none;
    float: left;
    min-width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1rem;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

    .dropdown-menu.show {
        display: block;
    }

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

    .dropdown-item:hover, .dropdown-item:focus {
        background-color: #f8f9fa;
        color: #212529;
        text-decoration: none;
    }
